#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.header {
    background-color: #deeaf6;
    border-color: black;
    border-width: 4px;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    font-weight: bold; 
    font-size: 24px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}
